GAM200_Project/DerivedData/*
GAM200_Project/GAM200_Project/build/Debug/*
GAM200_Project/GAM200_Project/build/Release/*
GAM200_Project/GAM200_Project.xcodeproj/project.xcworkspace/*
GAM200_Project/GAM200_Project.xcodeproj/project.xcworkspace/*/*/*/*