GAM200_Project/Build/*
GAM200_Project/LevelDataManager/Debug/*
GAM200_Project/LevelDataManager/Release/*
GAM200_Project/LevelDataManager.xcodeproj/xcuserdata/*
GAM200_Project/GraphicPrototype2/Debug/*
GAM200_Project/GraphicPrototype2/Release/*